/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

resources/views/Dashboard/include/header.blade.php
# resources/views/include/script.blade.php
# resources/views/layouts/dashboardLayout.blade.php
